nav{
    background-color: black;
    border-radius: 20px;
    margin: 20px;
}


.FactDiv{
    
    display: grid;
    place-items: center ;
    max-width: 800px;
    background-color: #ECF0F1;
    border-color: #FF5364;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}

.getBtn{
    width: auto;
    height: 61px;
    background-color: #FF5364;
    border-radius: 5px;
    color: #ECF0F1;
    size: 36px;
    border-color: #979797;

}