
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border-radius: 20px;
    color: #FFF;
    height: auto;
    padding: 1em;
}

a{
    color: #FFF;
    text-decoration: none;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    transition: .5s;
    
}

a:hover{
    background-color: #5b5b5b;
    padding: 10px;
    border-radius: 10px;

}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}

.menu > li {
    margin: 0 1rem;
    overflow: visible;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .FactMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 40px;
    

   
}

.FactDiv{
    /* Center a block inside a div */
    
    width: 75%;
    padding: 20px;
    background-color: #ECF0F1;
    border-color: #FF5364;
    border-width: 100px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}


h1{
    text-align: center;
    color: #35495E;
    word-break: normal;
    font-weight: bold;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}

/* centre a text inside div */
#factTxt{
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    word-break: normal;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    font-size: larger;
}

.getBtn{
    width: 30%;
    height: 60px;
    font-size: large;
    margin-top: 20px;
    background-color: #FF5364;
    border-radius: 5px;
    color: #ECF0F1;
    padding-right: 10px;
    word-break: normal;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}

.getBtn:hover{
    width: 40%;
    background-color: #e43e4f;
}

lds-dual-ring {
 
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FF5364;
  border-color: #FF5364 transparent #FF5364 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.Loader{
  display: block;
  width: 100px;
  margin: 0 auto;
  
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

  
  @media (max-width: 770px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 100px;
      right: 0;
      margin-right: 20px;
      flex-direction: column;
      width: 80%;
      
      
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
     
      height: 3em;
      line-height: 3em;
      
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
     
      font-size: larger;
      margin: 0;
      padding: 1em 0;
      width: 100%;
      
      overflow: hidden;
      background-color: #000;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

    .menu > li:last-child{
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    h1{
        font-size: 5vw;
    }

    #factTxt{
        font-size: 4vw;
        word-break: normal;
    }


    .links{
        color: #FFF;
        text-decoration: none;
        font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
        transition: .5s;
        width: 100%;
        text-align: center;
        
    }
    
    a:hover{
        background-color: #5b5b5b;
        padding: 0px;
        border-radius: 10px;
    
    }


    .FactDiv{
      /* Center a block inside a div */
      
      width: 90%;
      padding: 10px;
      background-color: #ECF0F1;
      border-color: #FF5364;
      border-width: 100px;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      
      
  }

    .getBtn{
        font-size: 4vw;
        width: 50%;
        word-break: normal;
    }
    .getBtn:hover{
        width: 80%;
    }
  }



  * {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
    word-break: normal;
    outline: none;
   
  }

  .options {
    width: 165px;
    margin: 0 auto;
    font-weight: bold;
  }

  select {
    width: 75px;
    height: 40px;
    border-radius: 5px;
  }

  .post-container {
    width: 95%;
    height: auto;
    padding: 5px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: #ECF0F1;
  }

  h3 { text-align: center; }

  .post {
    width: 95%;
    height: auto;
    display: block;
    padding: 10px;
    background-color: #fff;
    color: #000;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ddd;
  }

  .post:hover{
    background-color: #ffd2d2;
  }

  .post > * {
    display: block;
    margin: 5px;
    font-size: 16px;
  }

  .author {
    font-style: italic;
    font-size: 12px;
  }
  
  .title { font-weight: bold; }
  
  .content span { color: blue; }

  #typeDiv{
    margin-top: 10%;
  }






/* Increase text size inside button css*/

